#navContainer {
    position: absolute;
    top: 5vh;
    height: 90vh;
    width: 15vw;
    font-size: 1.5vw;
    z-index: 1000;
}

#appTitle {
    position: relative;
    left: 2vw;
    top: -2vw;
    color: white;
}

#navDiscoverText, #navPersonalText {
    color: gray;
}

#homepageLink, #browseLink, #myRecipesLink, #groceryLink, #calendarLink, #myFoodLink, #navLogout {
    position: relative;
    margin: 2vw;
    left: 1vw;
}

#navDiscoverText, #navPersonalText {
    position: relative;
    left: 2vw;
}

#homeIcon, #browseIcon, #myRecipesIcons, #groceryIcon, #calendarIcon, #myFoodIcon, #logoutIcon {
    position: relative;
    margin-right: 1vw;
    top: .15vw;
    color: white;
}

#homeLinkText:hover, #browseLinkText:hover, #myRecipesText:hover, #groceryLinkText:hover, #calendarLinkText:hover, #myFoodText:hover, #logoutText:hover {
    color: gray;
}